SOURCE_POSTGRES_DB=smart_office
SOURCE_POSTGRES_USER=your_user
SOURCE_POSTGRES_PASSWORD=your_password
SOURCE_POSTGRES_PORT=5434

# Data Generator Configuration
HISTORY_START_DATE=2025-01-01
HISTORY_END_DATE=2026-08-21
GENERATOR_RANDOM_SEED=42
DATA_SCALE=small

# Live Generator Configuration
LIVE_GENERATOR_TICK_SECONDS=1
SIMULATION_SPEED=60
SIMULATION_START_TIME=2026-08-22T07:00:00+07:00

ACCESS_EVENT_RATE=0.40
IOT_EVENT_RATE=0.95
BOOKING_CREATE_RATE=0.03
BOOKING_UPDATE_RATE=0.08
DOCUMENT_CREATE_RATE=0.02
SIGNING_UPDATE_RATE=0.06
EMPLOYEE_UPDATE_RATE=0.002
ENABLE_DELETE_DEMO=false
