SOURCE_POSTGRES_DB=smart_office
SOURCE_POSTGRES_USER=your_user
SOURCE_POSTGRES_PASSWORD=your_password
SOURCE_POSTGRES_PORT=5434

# Data Generator Configuration
HISTORY_START_DATE=2025-01-01
HISTORY_END_DATE=2026-08-21
GENERATOR_RANDOM_SEED=42
DATA_SCALE=small
